 <div class="span6 offset3">
 	<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
    <%= form_for(:session, url: sessions_path,:html=>{:class=>"content form-signin"}) do |f| %>

    <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <br/>
      <%= f.submit "Sign in", class: "button glow button-rounded button-flat-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>