<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="row">
    <div class="span8">
      <div class="content content_nav">
        <div class="content_navbar">
          <%= link_to "我的书架", User.find(params[:id]), class: 'content_navbar_tab' %>
          <%= link_to "借书请求", {controller: 'users', action: 'request_list'}, class: 'content_navbar_tab' %>
          <%= link_to "未确认", {controller: 'users', action: 'pending_list'}, class: 'content_navbar_tab content_navbar_tab_current' %>
        </div>
        <div>
          <table class="table table-striped table-hover book_list2">
            <tr>
              <th>图书</th>
              <th>发送者</th>
              <th>接收者</th>
              <th>发送日期</th>
            </tr>

            <%= get_pending_list(params[:id]) %>
          </table>
        </div>
      </div>
    </div>
    
    <%= render 'users/user_right_column' %>

  </div>
</div>

