<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="row">
    <div class="span8">
      <div class="content content_nav">
        <div class="content_navbar">
          <%= link_to "我的书架", User.find(params[:id]), class: 'content_navbar_tab content_navbar_tab_current' %>
          <a class="content_navbar_tab" href="#">想借</a>
          <a class="content_navbar_tab" href="#">已借</a>
          <a class="content_navbar_tab" href="#">可借</a>
          <%= link_to "借书请求", {controller: 'users', action: 'request_list'}, class: 'content_navbar_tab' %>
        </div>
        <div>
          <div class="book_list">
            <h3 class="floatleft">我想借的</h3>
            <a href="#" class="unslider1-arrow next button button-flat-primary button-tiny floatright"> >> </a>
            <a href="#" class="unslider1-arrow prev button button-flat-primary button-tiny floatright"> << </a>
            <div class="banner1">
              <ul>
                <%= get_wish_books(params[:id]) %>
              </ul>
            </div>
          </div> 
          <div class="book_list">
            <h3 class="floatleft">我持有的</h3>
            <a href="#" class="unslider2-arrow next button button-flat-primary button-tiny floatright"> >> </a>
            <a href="#" class="unslider2-arrow prev button button-flat-primary button-tiny floatright"> << </a>
            <div class="banner2">
              <ul>
              </ul>
            </div>
          </div> 
          <div class="book_list">
            <h3 class="floatleft">我已捐的</h3>
            <a href="#" class="unslider3-arrow next button button-flat-primary button-tiny floatright"> >> </a>
            <a href="#" class="unslider3-arrow prev button button-flat-primary button-tiny floatright"> << </a>
            <div class="banner3">
              <ul>
                <%= get_donated_books() %>
              </ul>
            </div>
          </div> 
        </div>
      </div>
    </div>
    
    <%= render 'users/user_right_column' %>

  </div>
</div>

<script type="text/javascript">
var unslider1 = $('.banner1').unslider();
$('.unslider1-arrow').click(function() {
    var fn = this.className.split(' ')[1];
    //  Either do unslider.data('unslider').next() or .prev() depending on the className
    unslider1.data('unslider')[fn]();
    });
var unslider2 = $('.banner2').unslider();
$('.unslider2-arrow').click(function() {
    var fn = this.className.split(' ')[1];
    //  Either do unslider.data('unslider').next() or .prev() depending on the className
    unslider2.data('unslider')[fn]();
    });
var unslider3 = $('.banner3').unslider();
$('.unslider3-arrow').click(function() {
    var fn = this.className.split(' ')[1];
    //  Either do unslider.data('unslider').next() or .prev() depending on the className
    unslider3.data('unslider')[fn]();
    });
</script>


