<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="row">
    <div class="span8">
      <div class="content content_nav">
        <div class="content_navbar">
          <a class="content_navbar_tab content_navbar_tab_current" href="#">我的书架</a>
          <a class="content_navbar_tab" href="#">想借</a>
          <a class="content_navbar_tab" href="#">已借</a>
          <a class="content_navbar_tab" href="#">可借</a>
        </div>
        <div>
          <div class="book_list">
            <h3 class="floatleft">我想借的</h3>
            <a href="#" class="unslider1-arrow next button button-flat-primary button-tiny floatright"> >> </a>
            <a href="#" class="unslider1-arrow prev button button-flat-primary button-tiny floatright"> << </a>
            <div class="banner1">
              <ul>
                <li>
                  <%= image_tag("http://img3.douban.com/lpic/s6971618.jpg",class:"img_cover",alt:"book1")%>
                  <%= image_tag("http://img3.douban.com/lpic/s24927725.jpg",class:"img_cover",alt:"book1")%>
                  <%= image_tag("http://img3.douban.com/lpic/s24927725.jpg",class:"img_cover",alt:"book1")%>
                  <%= image_tag("http://img3.douban.com/lpic/s6971618.jpg",class:"img_cover",alt:"book1")%>
                  <%= image_tag("http://img3.douban.com/lpic/s6521579.jpg",class:"img_cover",alt:"book1")%>    
                </li>
                <li>
                  <%= image_tag("http://img3.douban.com/lpic/s6971618.jpg",class:"img_cover",alt:"book1")%>
                  <%= image_tag("http://img3.douban.com/lpic/s24927725.jpg",class:"img_cover",alt:"book1")%>
                  <%= image_tag("http://img3.douban.com/lpic/s24927725.jpg",class:"img_cover",alt:"book1")%>
                  <%= image_tag("http://img3.douban.com/lpic/s6971618.jpg",class:"img_cover",alt:"book1")%>
                  <%= image_tag("http://img3.douban.com/lpic/s6521579.jpg",class:"img_cover",alt:"book1")%>
                </li>
              </ul>
            </div>
          </div> 
          <div class="book_list">
            <h3 class="floatleft">我已借的</h3>
            <a href="#" class="unslider2-arrow next button button-flat-primary button-tiny floatright"> >> </a>
            <a href="#" class="unslider2-arrow prev button button-flat-primary button-tiny floatright"> << </a>
            <div class="banner2">
              <ul>
                <li>
                <%= image_tag("http://img3.douban.com/lpic/s6971618.jpg",class:"img_cover",alt:"book1")%>
                <%= image_tag("http://img3.douban.com/lpic/s24927725.jpg",class:"img_cover",alt:"book1")%>
                <%= image_tag("http://img3.douban.com/lpic/s24927725.jpg",class:"img_cover",alt:"book1")%>
                <%= image_tag("http://img3.douban.com/lpic/s6971618.jpg",class:"img_cover",alt:"book1")%>
                <%= image_tag("http://img3.douban.com/lpic/s6521579.jpg",class:"img_cover",alt:"book1")%>
                </li>
                <li>
                <%= image_tag("http://img3.douban.com/lpic/s6971618.jpg",class:"img_cover",alt:"book1")%>
                <%= image_tag("http://img3.douban.com/lpic/s24927725.jpg",class:"img_cover",alt:"book1")%>
                <%= image_tag("http://img3.douban.com/lpic/s24927725.jpg",class:"img_cover",alt:"book1")%>
                <%= image_tag("http://img3.douban.com/lpic/s6971618.jpg",class:"img_cover",alt:"book1")%>
                <%= image_tag("http://img3.douban.com/lpic/s6521579.jpg",class:"img_cover",alt:"book1")%>
                </li>
              </ul>
            </div>
          </div> 
          <div class="book_list">
            <h3 class="floatleft">我已捐的</h3>
            <a href="#" class="unslider3-arrow next button button-flat-primary button-tiny floatright"> >> </a>
            <a href="#" class="unslider3-arrow prev button button-flat-primary button-tiny floatright"> << </a>
            <div class="banner3">
              <ul>
                <%= get_donated_books() %>
              </ul>
            </div>
          </div> 
        </div>
      </div>
    </div>

    <div class="span4">
      <div class="content box_user">
        <%= gravatar_for params[:id] %>
        <p class="user_name pd10" ><%=name_for params[:id]%></p>
        <br />
        <% if signed_in? %>
          <% 
              @t_user = User.find(params[:id])
            %>
          <% if current_user?(@t_user) %>
            <%= link_to "设置",edit_user_path(current_user),:class=>"pd10"%>
            <!-- <a class="pd10" href="#">设置</a> -->
          <% end %>
        <% end %>
        <br />

        <div class="userBox_count">
          <span>
            <label id="count_donate"><%=@d_count%></label>
            捐赠
          </span>
          <span>
            <label id="count_borrow"><%=@b_count%></label>
            借入
          </span>
        </div>
      </div>

      <% if signed_in? %>
        <% @t_user = User.find(params[:id])%>
        <% if current_user?(@t_user) %>
          <div class="content">
            <div class="content">
              <h3>捐书</h3>
              <%= form_for(:book,url: '/donate',:html=>{:class=>"form-inline"}) do |f| %>
                <%= f.label :isbn %>
                <%= f.text_field :isbn %>
                <br/>
                <br>
                <%= f.submit "Submit", class: "button glow button-rounded button-flat-primary" %>
              <% end %>
              <!-- <form class="form-inline" action="#">
                        <input type="text" style="width:180px;" id="isbn_input" placeholder="ISBN" name="isbn_input" />
                        <br/>
                        <br/>
                        <input type="button" class="button glow button-rounded button-flat-primary button-small" id="add_click" name="donate" value="捐出"/>
                    </form> -->
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
var unslider1 = $('.banner1').unslider();
$('.unslider1-arrow').click(function() {
    var fn = this.className.split(' ')[1];
    //  Either do unslider.data('unslider').next() or .prev() depending on the className
    unslider1.data('unslider')[fn]();
    });
var unslider2 = $('.banner2').unslider();
$('.unslider2-arrow').click(function() {
    var fn = this.className.split(' ')[1];
    //  Either do unslider.data('unslider').next() or .prev() depending on the className
    unslider2.data('unslider')[fn]();
    });
var unslider3 = $('.banner3').unslider();
$('.unslider3-arrow').click(function() {
    var fn = this.className.split(' ')[1];
    //  Either do unslider.data('unslider').next() or .prev() depending on the className
    unslider3.data('unslider')[fn]();
    });
</script>

<script type="text/javascript"> 
$.getJSON('https://api.douban.com/v2/book/2567698?callback=?', function(data) {
    document.getElementById("bookBox_cover").src = data.image;
    document.getElementById("bookBox_info_title").innerHTML = data.title;
    var str = data.summary; 
    str = "<p>" +str + "</p>";
    str = str.replace(/\n/g, "</p>\n<p>");
    document.getElementById("summary").innerHTML = str; 
    var tags=data.tags;
    var tags_str=JSON.stringify(tags);
    var title_str = data.title;
    var subtitle_str = data.subtitle;
    var author_str = data.author[0];
    var image_str = data.image;
    var authorIntro_str = data.author_intro;
    var summary_str = data.summary;
    var publisher_str = data.publisher;
    var pubdate_str = data.pubdate;
    var isbn_str="111";
    $.post("addBook",{tag:tags_str,title:title_str,subtitle:subtitle_str,author:author_str,image:image_str,authorIntro:authorIntro_str,summary:summary_str
      ,publisher:publisher_str,pubdate:pubdate_str,isbn:isbn_str},function(result){
      });
/* $.post("addBook",{tag:tags_str},function(result){
   }); */

});

</script>

